*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html{
    font-size:100%;
    font-weight:700;
    line-height:1.6rem;
    word-spacing: 0.2rem;
    color:#333;
}
.horizental-line{
    width:100%;
}
.u-center-text{
     padding:1rem;
    text-align:center;
}
.container{
    margin:1.5rem;
    display:grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: 'montserrat';
}
.sub__heading{
    color:#672f2f;
    padding:0.5rem 0.2rem;
    text-align:center;
    border-radius:10rem;
    margin-top:20px;
    font-family: 'Shadows Into Light', cursive;
}
/**************************main-head*********************/
.top-container{
    grid-column: 6 / 20;
    grid-row: 1 / 3;
    position: relative;
    background-image:linear-gradient(105deg,#cf455c 0%, #ff935c 50%,rgba(0,0,0,0.7) 50%),url(../images/lap2.jpg);
    background-position:right;
    background-size:cover;
}

.main__head--image{
    max-width:20vh;
    height:20vh;
    border-radius:50%;
    padding:0.6rem;
    position:absolute;
    top:15%;
    left:1%;
    
    }
.main__heading{
    position:absolute;
    top:25%;
    left:20%;
}
.main__heading--name{
    padding-bottom:2rem;
    color:#fff;
   font-family: 'Hanalei', cursive;
}
.main__heading--sub{
    color:#eaf6f6;
    font-family: 'Shadows Into Light', cursive;
}
/***********************middle-container**********************/
.middle-container{
    background-image:linear-gradient(to left bottom,#007065,#216583);
   grid-column: 1 / 6;
    grid-row: 1 /20;
    position:relative;
    color:#eee;
    font-size:20px
}
.logo{
    margin:1rem auto;
    width:15vh;
    height:15vh;
    background-image:radial-gradient(circle,#ff487e,#e41749);
    border-radius: 50%;
    position: relative;
}
.logo__name{
  position:absolute;
    top:40%;
    left:20%;
    font-size:3rem;
    color:#fff
}
.contact__heading{
  
}
.details--info{
   padding:1rem;
    
}
.contact__details--image{
    width:2rem;
    float:left;
}
.github-link:visited, .github-link:link{
    text-decoration: none;
    color:#fff;
    background-color: #540e33;
    border-radius:10rem;
    padding:0.5rem 4rem;
    margin:10px;
    box-shadow:0 1.5rem 4rem rgba(0,0,0,0.4);
}

/*******************education details************/
.education__details{
    padding:2rem;
}
.table{
    margin-left:2rem
}
td{
    padding:0.8rem
}
/****************************bottom container********/
.pro-image{
    width:6rem;
    position:absolute;
    top:3rem;
    left:45%
}
.bottom-container{
    background-color:#e3c4a8;
    grid-column: 6 / 20;
    grid-row: 3 / 20;
    position:relative;
    padding-top:10rem;

}
.introduction{
    border:1px solid #aee7e8;
    padding:2rem 10rem;
    line-height:30px;
    font-size:22px;
    color:#333;
    word-spacing: 2px;
    letter-spacing: 2px
}
.work__experience{
    text-align:center;
    margin:2rem
}
.specialization{
/*    background-color:#560d0d;*/
    width:20rem;
    display:flex;
    flex-direction: column;
    border-radius:10rem;
    border-bottom:0.5rem solid #560d0d;
    margin:0.4rem auto;
    transition:all 1s ease;
}
.specialization:hover{
    transform:translateY(-3px);
}

/***********************footer**************/
.footer{
    background-color:#4e3440;
    grid-column: 1 / 20;
    padding:1rem;
    text-align:center;
    color:#fff;
    
}
.footer-link{
    text-decoration: none;
    color:#eaf6f6;
    font-size:1.2rem;
    font-family: 'Great Vibes', cursive;
}
.link-icons{
    margin-right:2rem;
}
.footer-icon{
    padding-right:2rem;
    font-size:2rem
}